$mainColor: #2196f3;
$bntColor: #f2f9fe;
$lightColor: #ffffff;
$fontMainColor: rgba(0, 0, 0, 0.87);
$fontSecondColor: rgba(0, 0, 0, 0.6);
$playerBorder: rgba(33, 33, 33, 0.08);
$popupOverview: rgba(0, 0, 0, 0.25);
